# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
.cache/

# Editor configs
.idea/
.vscode/
*.swp
.vercel
